<li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow" id='pokemon-<%= @pokemon.id %>'>
  <div class="flex w-full items-center justify-between space-x-6 p-6">
    <div class="flex-1 truncate">
      <div class="flex items-center space-x-3">
        <h3 class="truncate text-sm font-bold text-gray-900">#<%= @pokemon.id %> <%= @pokemon.name.capitalize %></h3>
        <% @pokemon.types do |type| %>
          <span class="inline-flex flex-shrink-0 items-center rounded-full bg-gray-50 px-1.5 py-0.5 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-600/20"></span>
        <% end %>
      </div>
      <div class='flex mt-1 truncate text-sm text-gray-500 space-x-4'>
        <span>Height: <strong><%= @pokemon.height * 10 %>cm</strong></span>
        <span>Weight: <strong><%= @pokemon.weight / 10 %>kg</strong></span>
      </div>
    </div>
    <%= image_tag @pokemon.img_url, class: 'h-10 w-10 flex-shrink-0 rounded-full bg-gray-300' %>
  </div>
  <div>
    <div class="-mt-px flex divide-x divide-gray-200">
      <div class="flex w-0 flex-1">
        <a href="mailto:janecooper@example.com" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-gray-400">
            <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
            <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
          </svg>
          View Pokemon
        </a>
      </div>
      <div class="-ml-px flex w-0 flex-1">
        <% if favorited? %>
          <%= render partial: 'favorites/remove_form', locals: { pokemon_id: @pokemon.id, favorite: favorite } %>
        <% else %>
          <%= render partial: 'favorites/form', locals: { pokemon_id: @pokemon.id, favorite: favorite } %>
        <% end %>
      </div>
    </div>
  </div>
</li>
